.section__gallery {
  background-color: #ffe92f;
  padding: 100px 0 120px;
}

.slider__tab1 {
  background: url("../images/gallery__peach1.png") no-repeat center;
  height: 560px;
}

.slider__tab2 {
  background: url("../images/blueberry__gallery2.png") no-repeat center;
  height: 270px;
}

.slider__tab3 {
  background: url("../images/rasberry__gallery3.png") no-repeat center;
  height: 270px;
  margin-top: 20px;
}

.slider__tab4 {
  background: url("../images/milk__gallery4.png") no-repeat center;
  height: 414px;
  margin-top: 30px;
}

.slider__tab5 {
  background: url("../images/hurma__gallery--last.png") no-repeat center;
  height: 414px;
  margin-top: 30px;
  margin-left: 5px;
}

.button--gallery {
  background-color: #5585a2;
}
