.section__gallery {
  height: 1536px;
  background-color: #ffe92f;
  padding: 100px 0 120px;
}

.slider__tab1 {
  background-image: url("../images/gallery__peach1.png");
  background-position: center;
  height: 560px;
}

.slider__tab2 {
  background-image: url("../images/blueberry__gallery2.png");
  background-position: center;
  height: 270px;
}

.slider__tab3 {
  background-image: url("../images/rasberry__gallery3.png");
  background-position: center;
  height: 270px;
}

.slider__tab4 {
  background-image: url("../images/milk__gallery4.png");
  background-position: center;
  height: 414px;
}

.slider__tab5 {
  background-image: url("../images/hurma__gallery--last.png");
  background-position: center;
  height: 414px;
}

.button--gallery {
  background-color: #5585a2;
}
