@media only screen and (min-width: 992px) {
.nav{
  display: none;
}
  .menu-icon{
    display: block;
  }
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 375px) {

}