@media only screen and (max-width: 992px) {
  .nav {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .subscribe__email {
    width: 370px;
  }
  .contact__form {
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .contact__text {
    margin-bottom: 0;
  }
  .section--blog {
    padding: 5px 0 30px;
  }
  .section__title--secondary {
    margin-top: -13px;
  }
  .data-tab:hover .data-tab__date {
    top: 4px;
    left: 4px;
  }
  .data-tab__content h4 {
    font-size: 19px;
  }
  .subscribe__email {
    margin-bottom: 50px;
  }
  .contact__title, .contact__add {
    font-size: 14px;
  }
  .contact__title {
    line-height: 14px;
  }
  .contact__form {
    margin-left: 0;
  }
  .contact__info {
    margin-left: 160px;
  }
  .footer .footer__col1, .footer .footer__col2, .footer .footer__col3 {
    margin-top: 2%;
  }
}

@media screen and (max-width: 576px) {
  .section--header {
    padding: 50px 0 178px;
  }
  .section__title {
    line-height: 1.42;
  }
  .subscribe__email {
    margin-bottom: 50px;
    //width: 370px;
  }
  .section--about {
    padding: 15px 0;
  }
  .section__gallery {
    padding: 4px 0 120px;
  }
  .nav {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .section__title--secondary {
    font-size: 75px;
  }
  .section__description {
    margin-bottom: 5px;
  }
  .section--contact {
    padding: 40px 0 25px;
  }
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .slider__tab {
    background-size: contain;
    height: 50vh;
    margin-top: 5vh;
  }
}
