.section__subscribe {
  height: 500px;
  padding: 100px 0 120px;
  background-image: url("../images/subscribe__bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe__email {
  width: 570px;
  height: 55px;
  background-color: rgba(38, 38, 38, 0);
  border: 1px solid #262626;
}.button--subscribe {
   background-color: #96b92c;
 }

.subscribe__title {
  font-size: 40px;
  line-height: 27px;
}

