body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.data-tab {
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.data-tab img {
    width: 100%;
}

.data-tab:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(255, 255, 255, 0.1));
    opacity: 0;
}

.data-tab:hover:before {
    opacity: 1;
}

.data-tab:hover .data-tab__date {
    top: 30px;
    left: 30px;
}

.data-tab:hover .data-tab__content {
    bottom: 30px;
    left: 30px;
}

.data-tab__date,
.data-tab__content {
    position: absolute;
    color: #fff;
    transition: all 0.5s;
}

.data-tab__date {
    top: -30px;
    left: -30px;
}

.data-tab__content {
    bottom: -100px;
    left: -60px;
}

/* Section style start */
.section__title {
    line-height: 0.42;
    margin-bottom: 34px;
}

.section__title--primary {
    font-size: 60px;
    color: #262626;
    font-weight: 900;
}

.section__title--secondary {
    font-size: 90px;
    color: #fff;
    font-weight: 700;
}

.section__description {
    font-size: 17px;
    line-height: 1.59;
    margin-bottom: 30px;
}

.section__description--dark {
    color: #262626;
}

.section__description--light {
    color: #fff;
}

.section {
    position: relative;
}

.section--header {
    background: url(../images/header_bg.png) no-repeat center/cover;
    padding: 50px 0 404px;
}

.section--about {
    padding: 70px 0;
    background-image: radial-gradient(circle at 0 0, #00c4c4, #00b7b7, #00adad, #009c9c), linear-gradient(to bottom, #00c4c4, #00c4c4);
}

.section__scroll-icon {
    position: absolute;
    bottom: 69px;
    transform: translateX(50%);
    left: 50%;
}

/* Section style end */


/* Button style start */
.button {
    padding: 14px 25px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    font-size: 20px;
    color: #fff;
    border: none;
    line-height: 1.35;
}

.button--primary {
    background-color: #ff6033;
}

.button--danger {
    background-color: #f72b3b;
}

/* Button style end */

/* Header style start */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 258px;
}

.nav__link {
    font-size: 16px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
    margin-left: 35px;
    position: relative;
}

.nav__link:hover {
    color: #262626;
}

.nav__link::before {
    content: '';
    width: 0;
    background-color: #ff6033;
    height: 3px;
    position: absolute;
    top: -9px;
    transition: all 0.5s;
}

.nav__link:hover::before {
    content: "";
    width: 100%;
}

/* Header style end */

/* Blog style start */
.section--blog {
    padding: 100px 0 120px;
    background-color: #b07cf7;
}

.data-tab__date {
    width: 60px;
    height: 60px;
    background-color: #262626;
    top: -60px;
    left: -30px;
    text-align: center;
    color: #ffffff;
}

.data-tab__date:before {
    content: '';
    width: 100%;
    height: 100%;
}

.data-tab__content h4 {
    font-size: 22px;
    font-weight: 700;
}

.data-tab__date > div {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
}

.data-tab__date span {
    font-size: 30px;
}

/* Blog style end */

/* Contact style start */
.section--contact {
    background: url('../images/contact-bg.png') no-repeat center/cover;
    height: 866px;
    padding: 100px 0 48px;
}

.contact__info {
    margin-left: 75px;
}

.contact__text {
    color: #262626;
}

.contact__desc {
    width: 350px;
}

.contact__title,
.contact__add {
    color: #262626;
}

.contact__title {
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
}

.contact__add {

}

.contact__form {
    width: 500px;
    margin-left: 60px;
}

.contact__form input,
.contact__form textarea {
    width: 500px;
    margin-bottom: 3%;
    opacity: 0.5;
    background-color: #00c4c4;
    border: none;
    color: white;
}

.contact__form input:focus,
.contact__form textarea:focus {
    opacity: 1;
    outline: none;
    box-shadow: -5px 0 0 0 #355b82;
    width: 495px;
    margin-left: 5px;
}

input {
    height: 50px;
}

textarea {
    height: 250px;
}

::placeholder {
    font-size: 15px;
    line-height: 25px;
    color: white;
    text-align: left;
    padding-left: 3%;
}

/* Contact style end */

/* Footer style end */
.footer {
    background-color: #262626;
    height: 90px;;
}

.footer__col1,
.footer__col2,
.footer__col3 {
    margin-top: 3%;
}

.footer__col1,
.footer__col3 {
    color: #b9b9b9;
    font-size: 16px;
    line-height: 25px;
}

.footer__col3 {
    text-align: right;
}

.footer__col1 {
    text-align: right;
}

.footer__col3 > span {
    color: red;
}

.footer__col2 {
    margin-left: 20%;
}

.logo--white {
    color: #b9b9b9;
    width: 64px;
    height: 27px;
    /*margin-left: 35%;*/
}

/* Footer style end */