.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 258px;
}
.header .nav__link {
  font-size: 16px;
  font-weight: 700;
  color: #262626;
  text-decoration: none;
  margin-left: 35px;
  position: relative;
}
.header .nav__link:hover {
  color: #262626;
}
.header .nav__link::before {
  content: "";
  width: 0;
  background-color: #ff6033;
  height: 3px;
  position: absolute;
  top: -9px;
  transition: all 0.5s;
}
.header .nav__link:hover::before {
  content: "";
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

/* Section style start */
.section__title {
  line-height: 0.42;
  margin-bottom: 34px;
}

.section__title--primary {
  font-size: 60px;
  color: #262626;
  font-weight: 900;
}

.section__title--secondary {
  font-size: 90px;
  color: #fff;
  font-weight: 700;
}

.section__description {
  font-size: 17px;
  line-height: 1.59;
  margin-bottom: 30px;
}

.section__description--dark {
  color: #262626;
}

.section__description--light {
  color: #fff;
}

.section {
  position: relative;
}

.section--header {
  background: url(../images/header_bg.png) no-repeat center/cover;
  padding: 50px 0 404px;
}

.section--about {
  padding: 70px 0;
  background-image: radial-gradient(circle at 0 0, #00c4c4, #00b7b7, #00adad, #009c9c), linear-gradient(to bottom, #00c4c4, #00c4c4);
}

.section__scroll-icon {
  position: absolute;
  bottom: 69px;
  transform: translateX(50%);
  left: 50%;
}

/* Button style start */
.button {
  padding: 14px 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: #fff;
  border: none;
  line-height: 1.35;
}

.button--primary {
  background-color: #ff6033;
}

.button--danger {
  background-color: #f72b3b;
}

.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.section--services {
  background: #70bfff;
}

.services__cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__cont > a {
  text-decoration: none;
  color: #262626;
}

.services__tab {
  width: 400px;
  height: 100px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1%;
  position: relative;
}

.services__tab .col-3 {
  line-height: 100px;
  font-size: 40px;
  border-left: 1px solid #9d9d9d;
}

.services__info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.services__title {
  height: 600px;
  background-image: url("../images/img copy.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
}

.section__gallery {
  background-color: #ffe92f;
  padding: 100px 0 120px;
}

.slider__tab1 {
  background: url("../images/gallery__peach1.png") no-repeat center;
  height: 560px;
}

.slider__tab2 {
  background: url("../images/blueberry__gallery2.png") no-repeat center;
  height: 270px;
}

.slider__tab3 {
  background: url("../images/rasberry__gallery3.png") no-repeat center;
  height: 270px;
  margin-top: 20px;
}

.slider__tab4 {
  background: url("../images/milk__gallery4.png") no-repeat center;
  height: 414px;
  margin-top: 30px;
}

.slider__tab5 {
  background: url("../images/hurma__gallery--last.png") no-repeat center;
  height: 414px;
  margin-top: 30px;
  margin-left: 5px;
}

.button--gallery {
  background-color: #5585a2;
}

.section__subscribe {
  height: 500px;
  padding: 100px 0 120px;
  background-image: url("../images/subscribe__bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe__email {
  width: 570px;
  height: 55px;
  background-color: rgba(38, 38, 38, 0);
  border: 1px solid #262626;
}

.button--subscribe {
  background-color: #96b92c;
}

.subscribe__title {
  font-size: 40px;
  line-height: 27px;
}

.data-tab {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.data-tab img {
  width: 100%;
}

.data-tab:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
  opacity: 0;
}

.data-tab:hover:before {
  opacity: 1;
}

.data-tab:hover .data-tab__date {
  top: 30px;
  left: 30px;
}

.data-tab:hover .data-tab__content {
  bottom: 30px;
  left: 30px;
}

.data-tab__date,
.data-tab__content {
  position: absolute;
  color: #fff;
  transition: all 0.5s;
}

.data-tab__date {
  top: -60px;
  left: -30px;
}

.data-tab__content {
  bottom: -100px;
  left: -60px;
}

.section--blog {
  padding: 100px 0 120px;
  background-color: #b07cf7;
}

.data-tab__date {
  width: 60px;
  height: 60px;
  background-color: #262626;
  top: -60px;
  left: -30px;
  text-align: center;
  color: #ffffff;
}

.data-tab__date:before {
  content: "";
  width: 100%;
  height: 100%;
}

.data-tab__content h4 {
  font-size: 22px;
  font-weight: 700;
}

.data-tab__date > div {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.data-tab__date span {
  font-size: 30px;
}

.section--contact {
  background: url("../images/contact-bg.png") no-repeat center/cover;
  height: 866px;
  padding: 100px 0 48px;
}

.contact__info {
  margin-left: 75px;
}

.contact__text {
  color: #262626;
  margin-bottom: 50px;
}

.contact__desc {
  width: 350px;
}

.contact__title,
.contact__add {
  color: #262626;
}

.contact__title {
  font-weight: 900;
  font-size: 17px;
  line-height: 25px;
}

.contact__form {
  width: 500px;
  margin-left: 60px;
}

.contact__form input,
.contact__form textarea {
  width: 500px;
  margin-bottom: 3%;
  opacity: 0.5;
  background-color: #00c4c4;
  border: none;
  color: white;
}

.contact__form input:focus,
.contact__form textarea:focus {
  opacity: 1;
  outline: none;
  box-shadow: -5px 0 0 0 #355b82;
  width: 495px;
  margin-left: 5px;
}

input {
  height: 50px;
}

textarea {
  height: 250px;
}

::placeholder {
  font-size: 15px;
  line-height: 25px;
  color: white;
  text-align: left;
  padding-left: 3%;
}

.footer {
  background-color: #262626;
  height: 90px;
}
.footer .footer__col1,
.footer .footer__col2,
.footer .footer__col3 {
  margin-top: 3%;
}
.footer .footer__col1,
.footer .footer__col3 {
  color: #b9b9b9;
  font-size: 16px;
  line-height: 25px;
}
.footer .footer__col3 {
  text-align: right;
}
.footer .footer__col1 {
  text-align: right;
}
.footer .footer__col3 > span {
  color: red;
}
.footer .footer__col2 {
  margin-left: 20%;
}
.footer .logo--white {
  color: #b9b9b9;
  width: 64px;
  height: 27px;
  /*margin-left: 35%;*/
}

@media only screen and (min-width: 992px) {
  .nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .contact__text {
    margin-bottom: 0;
  }

  .section--blog {
    padding: 0 0 30px;
  }

  .contact__title, .contact__add {
    font-size: 14px;
  }

  .contact__title {
    line-height: 14px;
  }

  .contact__form {
    margin-left: 0;
  }

  .footer .footer__col1, .footer .footer__col2, .footer .footer__col3 {
    margin-top: 2%;
  }
}
@media screen and (min-width: 576px) {
  .section__title {
    line-height: 1.42;
  }

  .subscribe__email {
    margin-bottom: 50px;
    width: 370px;
  }

  .section__gallery {
    padding: 4px 0 120px;
  }

  .nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .slider__tab {
    background-size: contain;
    height: 50vh;
    margin-top: 5vh;
  }
}

/*# sourceMappingURL=style.css.map */
